body{
  background-image: radial-gradient(rgba(77, 77, 191, 0.23) 2px, transparent 2px), radial-gradient(rgba(77, 77, 191, 0.23) 2px, transparent 2px);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
  background-color: #6b8996;
}

#title1{
  margin-left: 5px;
}

#iteml{
  background-color: #d8ddef;
  margin-left: 10px;
}

#itemc:hover{
  cursor: pointer;
}

#task1{
  background-color: #d8ddef;
}

